################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/9f231ef6-0d19-49ef-9977-309482fb1ed2.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/8ef07b61-ff32-487a-8e14-4c2d41773614.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/a78b5dcf-4327-4b45-bfc3-8b9a84beb372.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/ad174af1-8d16-4428-9eca-4bfd35470f6c.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/fc71e686-71bb-4bc5-bd8d-52da3a1d0ddc.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/2dbac845-f9b6-4e1d-b13a-e6d4bdf583ce.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/60af6abf-37f0-4d7c-a53e-2b26c6578fe3.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/35e152ab-e5d7-4eca-90b2-c73733fa4627.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/25e9b361-2f1b-4dd1-b237-075f1fe1f927.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/76b443bd-f802-48ae-84d5-966e8034bba6.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/cfae5b15-b390-4ec4-bd6d-e7f570f2597e.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/03dadbe3-3b2e-4243-a8ce-28be8888aabd.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/55578c57-bc0f-4af4-8d6b-61ff40cd18ba.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/a0f7327b-dc9d-4963-8f68-d51f29e70a90.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/036a9c09-9a91-41db-b57e-f199293d45e4.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/4fa79154-8997-4fcb-9f83-11f765c2e00b.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/7ee487f3-ca62-4768-87ae-43fb1072793e.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/9d0851eb-1668-450e-b55a-f2cb3a9e32bb.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/13e6e1df-59c1-4b97-95f6-9feb1e93d8a3.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/2706a070-0fd1-4110-9f5a-6dc3012a0442.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/cacc84cb-a5c9-4df7-a2ef-5911d3758b0e.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/cce9d0b1-cbe8-479e-be31-8573d3a31101.vsidx
