################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/9f231ef6-0d19-49ef-9977-309482fb1ed2.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/8ef07b61-ff32-487a-8e14-4c2d41773614.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/a78b5dcf-4327-4b45-bfc3-8b9a84beb372.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/ad174af1-8d16-4428-9eca-4bfd35470f6c.vsidx
/Northwind.Common.EntityModels.SqlServer/.vs/PracticalApps/FileContentIndex/fc71e686-71bb-4bc5-bd8d-52da3a1d0ddc.vsidx
